<mat-toolbar color="primary">  
  <mat-toolbar-row>
    <button mat-button (click)="sidenav.toggle()">
      <i class="material-icons">menu</i>
    </button>  
    <button mat-button routerLink="/">Home</button>
    <button mat-button [matMenuTriggerFor]="menu">Leads</button>
    <button mat-button>Batches</button>
    <button mat-button>Payments</button>
    <button mat-button>Settings</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Management Panel</button>
      <button mat-menu-item>Admin Panel</button>
    </mat-menu> 
  </mat-toolbar-row>      
</mat-toolbar>
<mat-sidenav-container
    class="example-container" (backdropClick)="close('backdrop')" >
  <mat-sidenav #sidenav mode="side" (keydown.escape)="close('escape')" disableClose>
    <p><button mat-button (click)="close('toggle button')">Close</button></p>
    <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Courses
            </mat-panel-title>      
          </mat-expansion-panel-header>
          <p><a routerLink="/viewCourses">View Courses</a></p>
          <p><a routerLink="/addCourse">Add Course</a></p>
          <p><a>Edit Courses</a></p>
          <p><a>Delete Courses</a></p>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Students
            </mat-panel-title>      
          </mat-expansion-panel-header>
          <p><a>View Students</a></p>
          <p><a>Add Students</a></p>
          <p><a>Edit Students</a></p>
          <p><a>Delete Students</a></p>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Programmes
            </mat-panel-title>      
          </mat-expansion-panel-header>
          <p><a>View Programmes</a></p>
          <p><a>Add Programme</a></p>
          <p><a>Edit Programme</a></p>
          <p><a>Delete Programmes</a></p>
        </mat-expansion-panel>
      </mat-accordion>
  </mat-sidenav>
  <mat-sidenav-content class="paddingclass">
    <h1>{{courses|json}}</h1>
    <router-outlet ></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>